<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="admin/base::Layout(~{::section})">
<head>


    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>
<body>




<section class="registerbanner justify-content-center align-items-center">
    <script src="/js/student/studentregisterform.js"></script>

    <div class="container" >


        <div class="row">
            <div class="col-md-9 col-md-offset-3" >

                <div id="postResultDiv" align="center"></div>



                <form class="form-horizontal" id="studentRegisterForm"   method="post" >
                    <h1 class="font-weight-bold"  style="text-align:center;padding:30px ;background-color:grey;text-shadow: 2px 2px 4px #000000;text-shadow: 2px 2px 4px rgb(255, 255, 255);">Student Registration Form</h1><hr>

                    <div class="form-group">
                        <label class="control-label col-sm-3" >Name:</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control"  placeholder="Enter Name" pattern="^[a-zA-Z\s]+$" oninvalid="setCustomValidity('Please enter name in correct format eg: Shilpa Pandey')"
                                   onchange="try{setCustomValidity('')}catch(e){}"  name="name" id="studentName" required>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Mobile Number:</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" placeholder="Enter Mobile no"  pattern="^[0-9]{10}$"  oninvalid="setCustomValidity('Please enter 10 digit number eg: 1234567890')"
                                   onchange="try{setCustomValidity('')}catch(e){}"  name="mobileNo" id=studentMobileNo required>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Email:</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control"  placeholder="Enter email" name="email" id="studentEmail" required >
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Password:</label>
                        <div class="col-sm-12">
                            <input type="password" class="form-control"   placeholder="Enter password" name="password"  id="studentPassword" required>
                        </div>
                    </div><br>
                    <div class="form-group">
                        <label class="control-label col-sm-3" >Address:</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control"   placeholder="Enter address" name="address"  id="studentAddress" required>
                        </div>
                    </div><br>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-12">
                            <button type="submit" class="btn btn-success btn-block">Submit</button>
                        </div>
                    </div>
                    <hr>
                </form>


            </div>

        </div>

    </div>

</section>

</body>
</html>