	
	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section>
	<script src="/js/student/viewStudent.js"></script>
	
	<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript"
			src="https://cdn.datatables.net/v/dt/dt-1.10.25/datatables.min.js"></script>
	<div class="container-fluid" style="margin-top:60px;padding:40px;">
	  <h1 class="font-weight-bold"  style="text-align:center;padding:20px ;background-color:grey;text-shadow: 2px 2px 4px #000000;text-shadow: 2px 2px 4px rgb(255, 255, 255);">View Student</h1>
	<div id="view" style="overflow: auto;">
		
		<form class="form-inline" id="viewStudent" name="viewStudent" method="post">
      <input class="form-control mr-sm-3 col-sm-6" id="keyword" name="keyword"type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
        <a class=" btn btn-primary ml-sm-5 " th:href="@{/admin/addStudent}"style=" text-align:right;">ADD Student</a>
      
    </form>
		
		<table class="table"id="myTable">
			<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Mobile No</th>
						<th>Email</th>
						<th>Password</th>
						<th>ADDRESS</th>
						<th>Update</th>
						<th>Delete</th>	
					
					</tr>
				</thead>
				
				<tbody>
				

				</tbody>
			
		</table> 
			<div>
    		<button onclick='decPageNo()'>Prev</button>
    		<label id='customerPageNo'>1</label>
    		<button onclick='incPageNo()'>Next</button>
    </div>
		</div>
		</div>
	
		
	

	
	</section>

</body>
</html>
	
