
    
    body{
        background-image: url("/images/img.jpg");
        background-size: cover;
     
		
        
       
    }

    #loginform{

    min-height: 10px;
          	padding:10px;
            margin: 45px;
            background-color:white;
    }


#classRegisterForm{
	min-height: 10px;
      	padding:10px;
        margin: 45px;
        background-color:white;   
}
#studentRegisterForm{
	min-height: 10px;
      	padding:10px;
        margin: 45px;
        background-color:white; 
	
}

#teacherRegisterForm{
	min-height: 10px;
      	padding:10px;
        margin: 45px;
        background-color:white; 
	
}
#submit{
	min-height: 10px;
      	padding:10px;
        margin: 20px;
        background-color:white;  
	
}



#view{
	background-color:white;
	min-height: 10px;
          padding:10px;
           margin: 35px;
}



