<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>this is home page</title>
</head>
<body>
	<section class="banner d-flex justify-content-center align-items-center ">
		<div class="text-center" style="padding: 90px;margin:60px">
			<h1 class="font-weight-bold" style="color:red;text-align:center;padding:20px ;text-shadow: 2px 2px 4px rgb(255, 255, 255);">Student Management System</h1>
		    <p>
		        <b style="color:red;text-align:center;padding:20px ;text-shadow: 2px 2px 4px rgb(255, 255, 255);">Welcome In Student Management System</b>
			</p>


		</div>
	</section>
</body>
</html>